<h1 class="text-center">{{title}}</h1>
</div>

<h3 class="ms-3 text-center">{{content}}</h3>
<p class="ms-3 text-center">Posted by {{user.name}} </p>

{{#if is_current_user_author}}
<div class="col-md-12">
  <form class="form edit-form">
    <div class="form-group"></div>
    <label for="blog-title">Update blog title:</label>
    <input class="form-input comment" type="text" id="blog-title" name="blog-title" value="{{title}}" />
    <div class="form-group"></div>
    <label for="blog-content">Update blog content:</label>
    <textarea class="form-input comment updateContent" type="text" id="blog-content"
      name="blog-content">{{content}}</textarea>
    <div class="form-group">
      <button id="editbutton" type="submit" class="btn btn-primary">Edit post</button>
    </div>
    <div class="form-group">
      <button id="deletebutton" type="submit" class="btn btn-primary">Delete</button>
    </div>
</div>
</form>
<script src="/js/editpost.js"></script>
{{/if}}

{{#if logged_in}}
<div class="col-md-12">
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment">Leave a comment below</label>
      <textarea class="form-input comment" id="comment" name="comment"></textarea>
    </div>
    <div class="form-group">
      <button id="editbutton" type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>
<script src="/js/comment.js"></script>
{{/if}}

<p class='m-3'>Comments:</p>


{{#each comments as |acomment|}}
<div class="card mx-3 py-0">
  <div class="card-header">
    <h3 class="commentheader">Posted by {{user.name}} on {{format_date acomment.date_created}}</h3>
  </div>
  <div class="card-body">
    <p class="card-text">{{acomment.comment}}</h3>
  </div>
</div>
{{/each}}
