<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row  ">
  <div class="col blog">
    <h2>
      
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    
    Created by {{blog.user.name}} on {{format_date blog.date_created}}
    <div class="col">
    <p>
      {{blog.content}}
    </p>
    </div>


  </div>
  
</div>
{{/each}}
